<h2>Liste des formations vous concernant</h2>

<br>
<table class="center">
    <tr>
        <td style="background-color: rgb(127, 203, 144)">Id Formation</td>
        <td style="background-color: rgb(127, 203, 144)">Nom formation</td>
        <td style="background-color: rgb(127, 203, 144)">Description</td>
        <td style="background-color: rgb(127, 203, 144)">Date debut</td>
        <td style="background-color: rgb(127, 203, 144)">Date fin</td>
        <td style="background-color: rgb(127, 203, 144)">Nom du formateur</td>
        <td style="background-color: rgb(127, 203, 144)">Paiement</td>
        <td style="background-color: rgb(127, 203, 144)">Relance</td>

    </tr>

    <tr>
        <td style="background-color: #C4ABFE" colspan="7">Liste formations en cours</td>
    </tr>

    <tr *ngFor="let f of formationsEncours">
        <td>{{f.idFormation}}</td>
        <td>{{f.libForm}}</td>
        <td>{{f.description}}</td>
        <td>{{f.dateDebut}}</td>
        <td>{{f.dateFin}}</td>
        <td>{{f.formateur.nom}}</td>
        <td><button (click)=" afficherPaiement(f.idFormation)"> Paiement </button></td>
        <td><button (click)=" afficherRelances(f.idFormation)"> Relance </button></td>
    </tr>

    <tr>
        <td style="background-color: #E7A9FE" colspan="7">Liste formations a venir</td>
    </tr>

    <tr *ngFor="let f of formationsAvenir">
        <td>{{f.idFormation}}</td>
        <td>{{f.libForm}}</td>
        <td>{{f.description}}</td>
        <td>{{f.dateDebut}}</td>
        <td>{{f.dateFin}}</td>
        <td>{{f.formateur.nom}}</td>
        <td><button (click)=" afficherPaiement(f.idFormation)"> Paiement </button></td>
        <td><button (click)=" afficherRelances(f.idFormation)"> Relance </button></td>
    </tr>

    <tr>
        <td style="background-color: #F4DCFE" colspan="7">Liste formations finies</td>
    </tr>

    <tr *ngFor="let f of formationsFini">
        <td>{{f.idFormation}}</td>
        <td>{{f.libForm}}</td>
        <td>{{f.description}}</td>
        <td>{{f.dateDebut}}</td>
        <td>{{f.dateFin}}</td>
        <td>{{f.formateur.nom}}</td>
        <td><button (click)=" afficherPaiement(f.idFormation)"> Paiement </button></td>
        <td><button (click)=" afficherRelances(f.idFormation)"> Relance </button></td>
        <td><button (click)=" Pdf(f.idFormation)"> Diplome </button></td>
    </tr>


</table>

<br>
<br>
<h2>Liste des formations gratuites</h2>

<br>
<table class="center">
    <tr>
        <td style="background-color: rgb(127, 203, 144)">Id Formation</td>
        <td style="background-color: rgb(127, 203, 144)">Nom formation</td>
        <td style="background-color: rgb(127, 203, 144)">Description</td>
        <td style="background-color: rgb(127, 203, 144)">Date debut</td>
        <td style="background-color: rgb(127, 203, 144)">Date fin</td>
        <td style="background-color: rgb(127, 203, 144)">Nom du formateur</td>

        <td style="background-color: rgb(127, 203, 144)">S'inscrire</td>

    </tr>

    <tr *ngFor="let f of formationsGratuites">
        <td>{{f.idFormation}}</td>
        <td>{{f.libForm}}</td>
        <td>{{f.description}}</td>
        <td>{{f.dateDebut}}</td>
        <td>{{f.dateFin}}</td>
        <td>{{f.formateur.nom}}</td>
        <td><button (click)=" inscriptionGratuit(f.idFormation)"> Inscription </button>
    </tr>

</table>