<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <app-header-participant></app-header-participant>
    <div class="main">
<h3>Liste Quiz</h3>
<hr>
<br>
<table class="center">
    <tr>
        <td style="background-color: rgb(127, 203, 144)">Id Quiz</td>
        <td style="background-color: rgb(127, 203, 144)">Nom Quiz</td>
        <td style="background-color: rgb(127, 203, 144)">nbQuestion</td>
        <td style="background-color: rgb(127, 203, 144)">scoreReussite</td>
        <td style="background-color: rgb(127, 203, 144)">formateur</td>
        <td style="background-color: rgb(127, 203, 144)">formation</td>


    </tr>

    <tr *ngFor="let q of quizs">
        <td>{{q.idQuiz}}</td>
        <td>{{q.nom}}</td>
        <td>{{q.nbQuestion}}</td>
        <td>{{q.scoreReussite}}</td>
        <td>{{q.formateur.nom}}</td>
        <td>{{q.formation.libForm}}</td>
        <td><button class="class1" (click)="passerQuiz(q.idQuiz)">Commencer test</button></td>
    </tr>

</table>



</div>
</body>

</html>