<h1>Ajouter un contact</h1>

<form (ngSubmit)="AjouterContact()">

    <p>Commercial associe</p>
    <select class="class2" name="selectedC" [(ngModel)]="selectedC">
        <option *ngFor="let c of commerciaux" [ngValue]="c">
            {{c.nom}}
        </option>
    </select>

    <p>Prospect associe</p>
    <select class="class2"  name="selectedP" [(ngModel)]="selectedP">
        <option *ngFor="let p of prospects" [ngValue]="p">
            {{p.nomProspect}}
        </option>
    </select>
    <br>
    <br>
    <br>
    <button class="class1" type="submit">Ajouter</button>

</form>


<br>
<button (click)="afficherCommerciaux()">Retour</button>