<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <app-header></app-header>
    <div class="main">

        <h1> Liste admins</h1>


        <table class="center">
            <tr>
                <td style="background-color: rgb(127, 203, 144)">Id</td>
                <td style="background-color: rgb(127, 203, 144)">Mail</td>
                <td style="background-color: rgb(127, 203, 144)">Nom</td>
                <td style="background-color: rgb(127, 203, 144)">Prenom</td>
                <td style="background-color: rgb(127, 203, 144)">Username</td>
                <td style="background-color: rgb(127, 203, 144)">Password</td>


                <td style="background-color: rgb(127, 203, 144)">Action1</td>
                <td style="background-color: rgb(127, 203, 144)">Action2</td>

            </tr>
            <tr *ngFor="let a of admins">
                <td>{{a.id}}</td>
                <td>{{a.mail}}</td>
                <td>{{a.nom}}</td>
                <td>{{a.prenom}}</td>
                <td>{{a.username}}</td>
                <td>{{a.password}}</td>
                <td><button (click)="supprimer(a.id)">Supprimer</button></td>
                <td><button (click)="modifier(a.id)">Modifier</button></td>
            </tr>

        </table>

    </div>

</body>

</html>