<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-10">
                <h1>Votre compte chez eFormation</h1>
            </div>
            <div class="col-12 col-lg-2">
                <p class="class5">Mon espace personnel
                    <button class="class4" (click)="EspacePerso()" width="5" height="5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    </button>
                </p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</header>


<body>

    <nav class="navbar navbar-expand-sm  navbar-light" style="background-color: rgb(209, 9, 245, 0.2);">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Menu</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-item nav-link active" href="/afficherFormateur">Gestion des formateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/afficherFormation">Gestion des formations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/afficherParticipants">Gestion des participants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link active" href="/afficherAdmins">Gestion des administrateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/afficherCommerciaux">Gestion des commerciaux</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/afficherProspects">Gestion des prospects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/afficherAssistants">Gestion des assistants</a>
                </li>

            </ul>
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <h1>Site d'eFormation</h1>
    <br>


</body>

<app-footer></app-footer>