<h2>Listes des formations vous concernant</h2>

<br>
<table class="center">
    <tr>
        <td style="background-color: rgb(127, 203, 144)">Id Formation</td>
        <td style="background-color: rgb(127, 203, 144)">Nom formation</td>
        <td style="background-color: rgb(127, 203, 144)">Description</td>
        <td style="background-color: rgb(127, 203, 144)">Date debut</td>
        <td style="background-color: rgb(127, 203, 144)">Date fin</td>

        <td style="background-color: rgb(127, 203, 144)">Action</td>

    </tr>
    <tr>
        <td style="background-color: #C4ABFE"  colspan="6" >Liste formations en cours</td>
    </tr>

    <tr *ngFor="let f of formationsEncours">
        <td>{{f.idFormation}}</td>
        <td>{{f.libForm}}</td>
        <td>{{f.description}}</td>
        <td>{{f.dateDebut}}</td>
        <td>{{f.dateFin}}</td>
        <td><button (click)=" afficher(f.idFormation)"> Participants </button>
        </td>
    </tr>

    <tr>
        <td style="background-color: #E7A9FE"  colspan="6" >Liste formations a venir</td>
    </tr>

    <tr *ngFor="let f of formationsAvenir">
        <td>{{f.idFormation}}</td>
        <td>{{f.libForm}}</td>
        <td>{{f.description}}</td>
        <td>{{f.dateDebut}}</td>
        <td>{{f.dateFin}}</td>
        <td><button (click)=" afficher(f.idFormation)"> Participants </button>
        </td>


    </tr>

    <tr>
        <td style="background-color: #F4DCFE"  colspan="6" >Liste formations finies</td>
    </tr>

    <tr *ngFor="let f of formationsFini">
        <td>{{f.idFormation}}</td>
        <td>{{f.libForm}}</td>
        <td>{{f.description}}</td>
        <td>{{f.dateDebut}}</td>
        <td>{{f.dateFin}}</td>

        <td><button (click)=" afficher(f.idFormation)"> Participants </button>
        </td>
    </tr>

</table>



