<h1> Modifier l'admin :  {{admin.nom}} {{admin.prenom}}</h1>


<form (ngSubmit)="modif()">

    <p>Nom</p>  
    <input type="text" name="nom" [(ngModel)]="admin.nom"/>
    <br>

    <p>Prenom</p>  
    <input type="text" name="prenom" [(ngModel)]="admin.prenom"/>
    <br>

    <p>Adresse mail</p>  
    <input type="text" name="mail" [(ngModel)]="admin.mail"/>
    <br>

    <p>Username</p>  
    <input type="text" name="username" [(ngModel)]="admin.username"/>
    <br>

    <p>Password</p>  
    <input type="password" name="password" [(ngModel)]="admin.password"/>
    <br>
    <br>
    <button class="class2" type="submit">Valider</button>
    
</form>

<br>
<button (click)="afficherAdmins()">Retour</button>
