

<form (ngSubmit)="AjouterFormation()">
    Nom  <input type="text" name="libForm" placeholder="Nom" [(ngModel)]="formation.libForm">
    <br>
    Description <input type="text" name="description" placeholder="Description" [(ngModel)]="formation.description">
    <br>
    Date debut <input type="date" name="Date" placeholder="Date" [(ngModel)]="formation.dateDebut">
    <br>
    Date fin <input type="date" name="Date" placeholder="Date" [(ngModel)]="formation.dateFin">
    <br>
    Prix <input type="text" name="prix" placeholder="Prix" [(ngModel)]="formation.prix">
    <br>
    Formateurs <select name="selectedId" [(ngModel)]="selectedId">
        <option *ngFor="let f of formateurs" [ngValue]="f.id">
            {{f.nom}}
        </option>
    </select>
    <button type="submit">Ajouter</button>
</form>
