<h1>Liste assistants</h1>
<br>
<p>La liste des assistants est disponible et mise a jour regulierement.</p>

<hr>
<h3>Liste des assistants</h3>
<hr>
<br>

<table class="center">
	<tr>
		<td style="background-color: rgb(127, 203, 144)">Id</td>
        <td style="background-color: rgb(127, 203, 144)">Adresse mail</td>
        <td style="background-color: rgb(127, 203, 144)">Nom</td>
        <td style="background-color: rgb(127, 203, 144)">Prenom</td>
        <td style="background-color: rgb(127, 203, 144)">Action1</td>
        <td style="background-color: rgb(127, 203, 144)">Action2</td>
        
</tr>
		
		
    <tr *ngFor="let a of assistants| filter: filterTerm">
            <td>{{a.id}}</td>
            <td>{{a.mail}}</td>
            <td>{{a.nom}}</td>
            <td>{{a.prenom}}</td>

            <td><button (click)="supprimer(a.id)">Supprimer</button></td>
            <td><button (click)="modifier(a.id)">Modifier</button></td>
    


    </tr>
</table>

<br>
<br>
<br>
<hr>
<h3>Ajouter un assistant</h3>
<hr>
<br>
<button class="chercher2"  (click)="AjouterAssistant()">Ajouter un assistant</button>
<br>
<br>
<br>

<hr>
<h3>Rechercher une formation</h3>
<hr>
<br>

<!--Trouver une formation par nom-->
<h4>Rechercher un assistant par <span class="el">nom</span></h4>
  <form class="form-search form-inline" (ngSubmit)="afficher2()">
    <input type="text" class="chercher4" placeholder="Formation par nom/prenom" name="selectedA"
    [(ngModel)]="selectedA" [(ngModel)]="filterTerm"/>
    <button type="submit">Valider</button>
  </form>
  <br>
  <br>

  <h4>Rechercher un assistant par <span class="el">id</span></h4>
   <!--Trouver une formation par id-->
  <form class="form-search form-inline" (ngSubmit)="afficherById()">
    <input type="text"class="chercher4" placeholder="Assistant par id" name="selectedId"
    [(ngModel)]="selectedId" [(ngModel)]="filterTerm"/>
    <button type="submit">Valider</button>
  </form>

  <br>
  <br>
  <br>
  <button class="chercher3" (click)="afficherFormations()">Retour</button>
  