<h1> Liste relances</h1>


<table class="center">
    <tr>
        <td style="background-color: oldlace">Id relance</td>
        <td style="background-color: oldlace">Date de la relance</td>
        <td style="background-color: oldlace">Reste à payer</td>

    </tr>

    <tr *ngFor="let r of relances">
            <td>{{r.idRelance}}</td>
            <td>{{r.date}}</td>
            <td>{{r.montant}}</td>
         
    </tr>

</table>
<td>
    <button class="class3"  (click)="Retour()">Retour</button>
  


