<form (ngSubmit)="AjouterFormateur()">
    Nom <input type="text" name="nom" placeholder="Nom" [(ngModel)]="formateur.nom">
    <br>
    Prenom <input type="text" name="prenom" placeholder="Prenom" [(ngModel)]="formateur.prenom">
    <br>
    Mail <input type="text" name="mail" placeholder="Mail" [(ngModel)]="formateur.mail">
    <br>

    Username <input type="text" name="username" placeholder="Username" [(ngModel)]="formateur.username">
    <br>
    Password <input type="password" name="password" placeholder="Password" [(ngModel)]="formateur.password">
    <br>


    <button type="submit">Ajouter</button>
</form>