<h1>Formation associee</h1>

<table class="center">
    <tr>
        <td style="background-color: oldlace">Id Formation</td>
        <td style="background-color: oldlace">Nom formation</td>
        <td style="background-color: oldlace">Description</td>
        <td style="background-color: oldlace">Date debut</td>
        <td style="background-color: oldlace">Date fin</td>
        <td style="background-color: oldlace">Prix</td>

    </tr>


    <tr>
        <td>{{formation.idFormation}}</td>
        <td>{{formation.libForm}}</td>
        <td>{{formation.description}}</td>
        <td>{{formation.dateDebut}}</td>
        <td>{{formation.dateFin}}</td>
        <td>{{formation.prix}}</td>


    </tr>
</table>

<br>

<button class="class3" (click)="retour()">Retour</button>