<h1>Formation associee</h1>

<table class="center">
    <tr>
        <td style="background-color: rgb(127, 203, 144)">Id Formation</td>
        <td style="background-color: rgb(127, 203, 144)">Nom formation</td>
        <td style="background-color: rgb(127, 203, 144)">Description</td>
        <td style="background-color: rgb(127, 203, 144)">Date debut</td>
        <td style="background-color: rgb(127, 203, 144)">Date fin</td>
        <td style="background-color: rgb(127, 203, 144)">Prix</td>


    </tr>


    <tr>
        <td>{{formation.idFormation}}</td>
        <td>{{formation.libForm}}</td>
        <td>{{formation.description}}</td>
        <td>{{formation.dateDebut}}</td>
        <td>{{formation.dateFin}}</td>
        <td>{{formation.prix}}</td>


    </tr>
</table>

<br>

<button class="class3" (click)="retour()">Retour</button>