<h1>Contacts associes</h1>

<table class="center">
    <tr>
        <td style="background-color: rgb(127, 203, 144)">Id Contact</td>
        <td style="background-color: rgb(127, 203, 144)">Id Prospect</td>
        <td style="background-color: rgb(127, 203, 144)">Nom</td>
        <td style="background-color: rgb(127, 203, 144)">Prenom</td>
        <td style="background-color: rgb(127, 203, 144)">Mail</td>
        <td style="background-color: rgb(127, 203, 144)">Numero de telephone</td>

    </tr>


    <tr *ngFor="let c of contacts">
        <td>{{c.idContact}}</td>
        <td>{{c.prospect.idProspect}}</td>
        <td>{{c.prospect.nomProspect}}</td>
        <td>{{c.prospect.prenomProspect}}</td>
        <td>{{c.prospect.emailProspect}}</td>
        <td>{{c.prospect.numTel}}</td>


    </tr>
</table>

<br>

<button class="class3" (click)="retour()">Retour</button>