<h1> Ajouter un participant</h1>


<form (ngSubmit)="AjouterParticipant()">

    <p>Nom</p>
    <input type="text" name="nom" placeholder="Nom" [(ngModel)]="participant.nom"/>
    <br>

    <p>Prenom</p>
    <input type="text" name="prenom" placeholder="Prenom" [(ngModel)]="participant.prenom"/>
    <br>

    <p>Adresse mail</p>
    <input type="text" name="mail" placeholder="Mail" [(ngModel)]="participant.mail"/>
    <br>

    <p>Username</p>
    <input type="text" name="username" placeholder="Username" [(ngModel)]="participant.username"/>
    <br>

    <p>Password</p>
    <input type="password" name="password" placeholder="Password" [(ngModel)]="participant.password"/>
    <br>

    <p>Formation suivie</p>
    <select class="class2" name="selectedId" [(ngModel)]="selectedId">
        <option *ngFor="let f of formations" [ngValue]="f.idFormation">
            {{f.libForm}}
        </option>
    </select>
    <br>
    <br>
    <br>
    <button class="class1" type="submit">Valider</button>
    
</form>

<br>
<button (click)="afficherParticipants()">Retour</button>