
.theImage
{
    height: 40%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.class1
{
    background-color: rgb(209, 9, 245,0.3);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

h1
{
    text-align: center;
}

.class2
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
    text-align: center;
    margin-top: 10px;
}

hr
{
    background-color: rgb(209, 9, 245,0.4);
    width: 690px;
    height: 3px;
    border: 0ch;
}

input
{
    border-radius: 10px;
    border-width: 0.02%;
}

svg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body
{
    background-color: rgb(229, 214, 249);
    margin-top: -25px;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: -25px;
}

.p
{
    text-align: center;
    font-size: larger;
    color: crimson
}