<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div *ngIf="roleAdmin==1">
        <app-header></app-header>
    </div>

    <div *ngIf="roleAdmin!=1 && roleA==1">
        <app-header-assistant></app-header-assistant>
    </div>
    <div class="main">
<h1>Modifier le formateur souhaite</h1>

<form (ngSubmit)="modif()">
    <p>Nom</p>  
    <input type="text" name="nom" placeholder="Nom" [(ngModel)]="formateur.nom">
    <br>

    <p>Prenom</p>  
    <input type="text" name="prenom" placeholder="Prenom" [(ngModel)]="formateur.prenom">
    <br>

    <p>Adresse mail</p>  
    <input type="text" name="mail" placeholder="Mail" [(ngModel)]="formateur.mail">
    <br>

    <p>Username</p>  
    <input type="text" name="username" placeholder="Username" [(ngModel)]="formateur.username">
    <br>

    <p>Password</p>  
    <input type="password" name="password" placeholder="Password" [(ngModel)]="formateur.password">
    <br>
    <br>    
    <button class="class2"  type="submit">Valider</button>

</form>


</div>

</body>

</html>