<h1> Espace Perso</h1>


<table class="center">
    <tr>
        <td style="background-color: oldlace">Id </td>
        <td style="background-color: oldlace">Mail</td>
        <td style="background-color: oldlace">Nom </td>
        <td style="background-color: oldlace">Prenom </td>
        <td style="background-color: oldlace">Action 1 </td>


    </tr>

    <tr>
        <td>{{utilisateur.id}}</td>
        <td>{{utilisateur.mail}}</td>
        <td>{{utilisateur.nom}}</td>
        <td>{{utilisateur.prenom}}</td>
        <td><button (click)="modifierPassword()">Modifier password</button></td>


    </tr>

</table>