<h1>Mon espace personnel</h1>


<table class="center">
    <tr>
        <td style="background-color: rgb(127, 203, 144)">Id </td>
        <td style="background-color: rgb(127, 203, 144)">Mail</td>
        <td style="background-color: rgb(127, 203, 144)">Nom </td>
        <td style="background-color: rgb(127, 203, 144)">Prenom </td>

        <td style="background-color: rgb(127, 203, 144)">Action 1 </td>


    </tr>

    <tr>
        <td>{{utilisateur.id}}</td>
        <td>{{utilisateur.mail}}</td>
        <td>{{utilisateur.nom}}</td>
        <td>{{utilisateur.prenom}}</td>
        <td><button (click)="modifierPassword()">Modifier password</button></td>


    </tr>

</table>

<br>
<button class="deconnexion"   (click)="afficherFormations()">Retour</button>
