<h1>Mon espace personnel</h1>


<table class="center">
    <tr>
        <td style="background-color: rgb(127, 203, 144)">Id </td>
        <td style="background-color: rgb(127, 203, 144)">Mail</td>
        <td style="background-color: rgb(127, 203, 144)">Nom </td>
        <td style="background-color: rgb(127, 203, 144)">Prenom </td>

        <td style="background-color: rgb(127, 203, 144)">Action 1 </td>


    </tr>

    <tr>
        <td>{{utilisateur.id}}</td>
        <td>{{utilisateur.mail}}</td>
        <td>{{utilisateur.nom}}</td>
        <td>{{utilisateur.prenom}}</td>
        <td><button (click)="modifierPassword()">Modifier password</button></td>


    </tr>

<br>
<button class="deconnexion"   (click)="afficherFormations()">Retour</button>
    <div *ngIf="roleC==1">
        coucou commercial
    </div>

    <div *ngIf="roleA==1">
        coucou assistant
    </div>

    <div *ngIf="roleF==1">
        coucou formateur
    </div>

    <div *ngIf="roleAdmin==1">
        coucou admin
    </div>

    <div *ngIf="roleP==1">
        coucou Participant
    </div>
