<h1> Liste formations</h1>


<table class="center">
    <tr>
        <td style="background-color: oldlace">Id Formation</td>
        <td style="background-color: oldlace">Nom formation</td>
        <td style="background-color: oldlace">Description</td>
        <td style="background-color: oldlace">Date debut</td>
        <td style="background-color: oldlace">Date fin</td>
        <td style="background-color: oldlace">Prix</td>

        <td style="background-color: oldlace">Formateur</td>


    </tr>

    <tr *ngFor="let f of formations">
            <td>{{f.idFormation}}</td>
            <td>{{f.libForm}}</td>
            <td>{{f.description}}</td>
            <td>{{f.dateDebut}}</td>
            <td>{{f.dateFin}}</td>
            <td>{{f.prix}}</td>
         
    </tr>

</table>
<br>
<button class="class3"  (click)="Retour()">Retour</button>

