<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div *ngIf="roleAdmin==1">
        <app-header></app-header>
    </div>

    <div *ngIf="roleAdmin!=1 && roleA==1">
        <app-header-assistant></app-header-assistant>
    </div>
    <div class="main">
   <h1> Modifier le participant : {{participant.nom}} {{participant.prenom}}</h1>


<form (ngSubmit)="modif()">

    <p>Nom</p>
    <input type="text" name="nom" [(ngModel)]="participant.nom"/>
    <br>

    <p>Prenom</p>
    <input type="text" name="prenom" [(ngModel)]="participant.prenom"/>
    <br>

    <p>Adresse mail</p>
    <input type="text" name="mail" [(ngModel)]="participant.mail"/>
    <br>

    <p>Username</p>
    <input type="text" name="username" [(ngModel)]="participant.username"/>
    <br>

    <p>Password</p>
    <input type="password" name="password" [(ngModel)]="participant.password"/>
    <br>
    
    <p>Formation suivie</p>
    <select class="class2" name="selectedId" [(ngModel)]="selectedId">
        <option *ngFor="let f of formations" [ngValue]="f.idFormation">
            {{f.libForm}}
        </option>
    </select>
    <br>
    <br>
    <br>
    <button class="class2" type="submit">Valider</button>
    
</form>


</div>

</body>

</html>