<h1> Modifier participant {{participant.id}}</h1>


<form (ngSubmit)="modif()">

    
    Nom : <input type="text" name="nom" [(ngModel)]="participant.nom"/>
    <br>
    Prenom : <input type="text" name="prenom" [(ngModel)]="participant.prenom"/>
    <br>
    Mail : <input type="text" name="mail" [(ngModel)]="participant.mail"/>
    <br>
    Username : <input type="text" name="username" [(ngModel)]="participant.username"/>
    <br>
    Password : <input type="password" name="password" [(ngModel)]="participant.password"/>
    <br>
    <br>
    Formation : <select name="selectedId" [(ngModel)]="selectedId">
        <option *ngFor="let f of formations" [ngValue]="f.idFormation">
            {{f.libForm}}
        </option>
    </select>
    <br>
    <button type="submit">Valider</button>
    
</form>