<h1> Liste prospect</h1>


<table class="center">
    <tr>
        <td style="background-color: rgb(127, 203, 144)">Id </td>

        <td style="background-color: rgb(127, 203, 144)">Nom </td>
        <td style="background-color: rgb(127, 203, 144)">Prenom </td>
        <td style="background-color: rgb(127, 203, 144)">Mail</td>
        <td style="background-color: rgb(127, 203, 144)">Numero de telephone</td>

        <td style="background-color: rgb(127, 203, 144)">Action1</td>
        <td style="background-color: rgb(127, 203, 144)">Action2</td>
        <td style="background-color: rgb(127, 203, 144)">Action3</td>


    </tr>

    <tr *ngFor="let p of prospects">
        <td>{{p.idProspect}}</td>

        <td>{{p.nomProspect}}</td>
        <td>{{p.prenomProspect}}</td>
        <td>{{p.emailProspect}}</td>
        <td>{{p.numTel}}</td>

        <td><button (click)="supprimer(p.idProspect)">Supprimer</button></td>
        <td><button (click)="modifier(p.idProspect)">Modifier</button></td>
        <td><button (click)=" afficher(p.idProspect)"> Afficher </button></td>



    </tr>

</table>
<br>
<br>
<br>
<hr>
<h3>Ajouter un prospect</h3>
<hr>
<br>
<button class="chercher2" (click)="AjouterProspect()">Ajouter un prospect</button>
<br>

<br>
<br>
<br>
<button class="chercher3" (click)="retour()">Retour</button>
<br>