<h1>Formateur associe</h1>

<table class="center">
    <tr>
        <td style="background-color: oldlace">Id</td>
        <td style="background-color: oldlace">mail</td>
        <td style="background-color: oldlace">nom</td>
        <td style="background-color: oldlace">prenom</td>

    </tr>


    <tr>
        <td>{{utilisateur.id}}</td>
        <td>{{utilisateur.mail}}</td>
        <td>{{utilisateur.nom}}</td>
        <td>{{utilisateur.prenom}}</td>


    </tr>
</table>

<br>

<button class="class3" (click)="retour()">Retour</button>