
<h1>Formateur assurantt cette formation</h1>

<br>
<br>
<table class="center">
	<tr>
		<td style="background-color: oldlace">Id</td>
        <td style="background-color: oldlace">Adresse mail</td>
        <td style="background-color: oldlace">Nom</td>
        <td style="background-color: oldlace">Prenom</td>
        
</tr>
		
		
<tr>
            <td>{{utilisateur.id}}</td>
            <td>{{utilisateur.mail}}</td>
            <td>{{utilisateur.nom}}</td>
            <td>{{utilisateur.prenom}}</td>


    </tr>
</table>


<br>
<button (click)="afficherFormations()">Retour</button>
