

<h1>Formateur assurant cette formation</h1>


<br>
<br>
<table class="center">

	<tr>
		<td style="background-color: rgb(127, 203, 144)">Id</td>
        <td style="background-color: rgb(127, 203, 144)">Adresse mail</td>
        <td style="background-color: rgb(127, 203, 144)">Nom</td>
        <td style="background-color: rgb(127, 203, 144)">Prenom</td>
        
</tr>
		
		
<tr>
            <td>{{utilisateur.id}}</td>
            <td>{{utilisateur.mail}}</td>
            <td>{{utilisateur.nom}}</td>
            <td>{{utilisateur.prenom}}</td>

    </tr>
</table>



<br>
<button (click)="afficherFormations()">Retour</button>

