<h1> Liste participants</h1>


<table class="center">
	<tr>
		<td style="background-color: rgb(127, 203, 144)">Id</td>
        <td style="background-color: rgb(127, 203, 144)">Mail</td>
        <td style="background-color: rgb(127, 203, 144)">Nom</td>
        <td style="background-color: rgb(127, 203, 144)">Prenom</td>
        <td style="background-color: rgb(127, 203, 144)">Username</td>
        <td style="background-color: rgb(127, 203, 144)">Password</td>

        
        <td style="background-color: rgb(127, 203, 144)">Action1</td>
        <td style="background-color: rgb(127, 203, 144)">Action2</td>

        <td style="background-color: rgb(127, 203, 144)">Action3</td>
        <td style="background-color: rgb(127, 203, 144)">Action4</td>
        <td style="background-color: rgb(127, 203, 144)">Action5</td>
        
</tr>
<tr *ngFor="let p of participants">
    <td>{{p.id}}</td>
    <td>{{p.mail}}</td>
    <td>{{p.nom}}</td>
    <td>{{p.prenom}}</td>
    <td>{{p.username}}</td>
    <td>{{p.password}}</td>
    <td><button (click)="supprimer(p.id)">Supprimer</button></td>
    <td><button (click)="modifier(p.id)">Modifier</button></td>

    <td><button (click)="formationAssocie(p.id)">Formations</button></td>
    <td><button (click)="RelanceAssocie(p.id)">Relances</button></td>
    <td><button (click)="PaiementAssocie(p.id)">Paiements</button></td>
</tr>	
		
</table>

<br>
<br>
<br>
<hr>
<h3>Ajouter un participant</h3>
<hr>
<br>
<button class="chercher3"  (click)="AjouterParticipant()">Ajouter un participant</button>

<br>
<button class="chercher2"  (click)="Retour()">Retour</button>