<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div *ngIf="roleAdmin==1">
        <app-header></app-header>
    </div>

    <div *ngIf="roleAdmin!=1 && roleA==1">
        <app-header-assistant></app-header-assistant>
    </div>
    <div class="main">

        <h1> Liste participants</h1>


        <table class="center">
            <tr>
                <td style="background-color: rgb(127, 203, 144)">Id</td>
                <td style="background-color: rgb(127, 203, 144)">Mail</td>
                <td style="background-color: rgb(127, 203, 144)">Nom</td>
                <td style="background-color: rgb(127, 203, 144)">Prenom</td>
                <td style="background-color: rgb(127, 203, 144)">Username</td>
                <td style="background-color: rgb(127, 203, 144)">Password</td>


                <td style="background-color: rgb(127, 203, 144)">Supprimer</td>
                <td style="background-color: rgb(127, 203, 144)">Modifier</td>

                <td style="background-color: rgb(127, 203, 144)">Formations</td>
                <td style="background-color: rgb(127, 203, 144)">Relances</td>
                <td style="background-color: rgb(127, 203, 144)">Paiements</td>

            </tr>
            <tr *ngFor="let p of participants">
                <td>{{p.id}}</td>
                <td>{{p.mail}}</td>
                <td>{{p.nom}}</td>
                <td>{{p.prenom}}</td>
                <td>{{p.username}}</td>
                <td>{{p.password}}</td>
                <td><button (click)="supprimer(p.id)">Supprimer</button></td>
                <td><button (click)="modifier(p.id)">Modifier</button></td>

                <td><button (click)="formationAssocie(p.id)">Formations</button></td>
                <td><button (click)="RelanceAssocie(p.id)">Relances</button></td>
                <td><button (click)="PaiementAssocie(p.id)">Paiements</button></td>
            </tr>

        </table>


    </div>

</body>

</html>