<h1> Ajouter un admin</h1>


<form (ngSubmit)="AjouterAdmin()">

    <p>Nom</p>
    <input type="text" name="nom" placeholder="Nom" [(ngModel)]="admin.nom"/>
    <br>

    <p>Prenom</p>
    <input type="text" name="prenom" placeholder="Prenom" [(ngModel)]="admin.prenom"/>
    <br>

    <p>Adresse mail</p>
    <input type="text" name="mail" placeholder="Mail" [(ngModel)]="admin.mail"/>
    <br>

    <p>Username</p>
    <input type="text" name="username" placeholder="Username" [(ngModel)]="admin.username"/>
    <br>

    <p>Password</p>
    <input type="password" name="password" placeholder="Password" [(ngModel)]="admin.password"/>
    <br>
    <br>
    <br>
    <button class="class1" type="submit">Valider</button>
    
</form>

<br>
<button (click)="afficherAdmins()">Retour</button>
