<h1> Liste participants</h1>


<table class="center">
	<tr>
		<td style="background-color: rgb(127, 203, 144)">Id</td>
        <td style="background-color: rgb(127, 203, 144)">Mail</td>
        <td style="background-color: rgb(127, 203, 144)">Nom</td>
        <td style="background-color: rgb(127, 203, 144)">Prenom</td>
        
</tr>
<tr *ngFor="let p of participants">
    <td>{{p.id}}</td>
    <td>{{p.mail}}</td>
    <td>{{p.nom}}</td>
    <td>{{p.prenom}}</td>
</tr>	
		
</table>

<br>
<button (click)="Retour()">Retour</button>

