<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div *ngIf="roleAdmin==1">
        <app-header></app-header>
    </div>

    <div *ngIf="roleAdmin!=1 && roleA==1">
        <app-header-assistant></app-header-assistant>
    </div>
    <div class="main">


        <h1> Liste des formateurs </h1>

        <br>
        <br>

        <table class="center">
            <tr>
                <td style="background-color: rgb(127, 203, 144)">Id Formateur</td>
                <td style="background-color: rgb(127, 203, 144)">Mail</td>
                <td style="background-color: rgb(127, 203, 144)">Nom Formateur</td>
                <td style="background-color: rgb(127, 203, 144)">Prenom Formateur</td>

                <td style="background-color: rgb(127, 203, 144)">Supprimer</td>
                <td style="background-color: rgb(127, 203, 144)">Modifier</td>
                <td style="background-color: rgb(127, 203, 144)">Formations</td>


            </tr>

            <tr *ngFor="let f of formateurs">
                <td>{{f.id}}</td>
                <td>{{f.mail}}</td>
                <td>{{f.nom}}</td>
                <td>{{f.prenom}}</td>

                <td><button (click)="supprimer(f.id)">Supprimer</button></td>
                <td><button (click)="modifier(f.id)">Modifier</button></td>
                <td><button (click)=" afficher(f.id)"> Afficher </button></td>



            </tr>

        </table>



    </div>

</body>

</html>