<h1> Liste formateurs</h1>


<table class="center">
    <tr>
        <td style="background-color: rgb(127, 203, 144)">Id Formateur</td>
        <td style="background-color: rgb(127, 203, 144)">Mail</td>
        <td style="background-color: rgb(127, 203, 144)">Nom Formateur</td>
        <td style="background-color: rgb(127, 203, 144)">Prenom Formateur</td>

        <td style="background-color: rgb(127, 203, 144)">Action1</td>
        <td style="background-color: rgb(127, 203, 144)">Action2</td>
        <td style="background-color: rgb(127, 203, 144)">Action3</td>


    </tr>

    <tr *ngFor="let f of formateurs">
        <td>{{f.id}}</td>
        <td>{{f.mail}}</td>
        <td>{{f.nom}}</td>
        <td>{{f.prenom}}</td>

        <td><button (click)="supprimer(f.id)">Supprimer</button></td>
        <td><button (click)="modifier(f.id)">Modifier</button></td>
        <td><button (click)=" afficher(f.id)"> Afficher </button></td>



    </tr>

</table>

<br>
<hr>
<h3>Ajouter un formateur</h3>
<hr>
<br>
<button class="chercher2" (click)="AjouterFormateur()">Ajouter un formateur</button>
<br>

<button class="chercher3"(click)="retour()">Retour</button>
<br>