<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <app-header></app-header>
    <div class="main">
        <h1>Modifier le commerciel souhaite</h1>

<form (ngSubmit)="modif()">

    <p>Nom</p>  
    <input type="text" name="nom" placeholder="Nom" [(ngModel)]="commercial.nom">
    <br>

    <p>Prenom</p>  
    <input type="text" name="prenom" placeholder="Prenom" [(ngModel)]="commercial.prenom">
    <br>

    <p>Adresse mail</p>  
    <input type="text" name="mail" placeholder="Mail" [(ngModel)]="commercial.mail">
    <br>

    <p>Username</p>  
    <input type="text" name="username" placeholder="Username" [(ngModel)]="commercial.username">
    <br>

    <p>Password</p>  
    <input type="password" name="password" placeholder="Password" [(ngModel)]="commercial.password">
    <br>
    <br>
    <button class="class2" type="submit">Valider</button>

</form>


</div>

</body>

</html>