<h1> Liste Commerciaux</h1>


<table class="center">
    <tr>
        <td style="background-color: rgb(127, 203, 144)">Id Commercial</td>
        <td style="background-color: rgb(127, 203, 144)">Mail</td>
        <td style="background-color: rgb(127, 203, 144)">Nom Commercial</td>
        <td style="background-color: rgb(127, 203, 144)">Prenom Commercial</td>

        <td style="background-color: rgb(127, 203, 144)">Action1</td>
        <td style="background-color: rgb(127, 203, 144)">Action2</td>
        <td style="background-color: rgb(127, 203, 144)">Action3</td>


    </tr>

    <tr *ngFor="let c of commerciaux">
        <td>{{c.id}}</td>
        <td>{{c.mail}}</td>
        <td>{{c.nom}}</td>
        <td>{{c.prenom}}</td>

        <td><button (click)="supprimer(c.id)">Supprimer</button></td>
        <td><button (click)="modifier(c.id)">Modifier</button></td>
        <td><button (click)="afficher(c.id)">Contacts</button></td>




    </tr>

</table>

<br>
<hr>
<h3>Ajouter un commercial</h3>
<hr>
<br>
<button class="chercher2" (click)="AjouterCommercial()">Ajouter un commercial</button>
<br>


<br>
<hr>
<h3>Creer un prospect</h3>
<hr>
<br>
<button class="chercher2" (click)="CreerProspect()"> Creer un prospect</button>
<br>

<br>
<hr>
<h3>Creer un contact</h3>
<hr>
<br>
<button class="chercher2" (click)="CreerContact()"> Creer un contact</button>
<br>




<button class="chercher3" (click)="retour()">Retour</button>
<br>