<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div *ngIf="roleAdmin!=1 && roleC==1">
        <app-header-commerciaux></app-header-commerciaux>
    </div>

    <div *ngIf="roleAdmin!=1 && roleF==1">
        <app-header-formateur></app-header-formateur>
    </div>

    <div *ngIf="roleAdmin!=1 && roleP==1">
        <app-header-participant></app-header-participant>
    </div>

    <div *ngIf="roleAdmin!=1 && roleA==1">
        <app-header-assistant></app-header-assistant>
    </div>

    <div *ngIf="roleAdmin==1">
        <app-header></app-header>
    </div>



    <div class="main">

        <h1> A propos de eFormation <img class="theImage" src="assets/images/graduation-hat.png"></h1>

        <p>eFormation est un site de formation en ligne.
            <br>Vous pourrez y trouver des formations payantes
            ainsi que des formations accessibles gratuitement !
            <br> Tous les formateurs sont diplômés et experts domaines
            leurs domaines.
        </p>

        <h4>
            <p class="f">Fondatrices de eFormation :</p>

            Romane <img width="180px" src="assets/images/woman2.png">
            Celia <img width="180px" src="assets/images/woman3.png">
            Sophie<img width="180px" src="assets/images/woman.png">

        </h4>
        <br>
        <p>" Nous avons fondé eFormation afin que vous puissiez vous
            epanouir dans une formation et decouvrir d'autres domaines !
            Bonne formation ! "</p>
    </div>
</body>

</html>