<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <app-header-formateur></app-header-formateur>
    <div class="main">
        <h1> Quiz de la formation {{quiz.formation.libForm}}</h1>

        <ul *ngFor="let q of questions">
            <b>Q: {{q.libQuestion}} <button class="class1" (click)="supprimerQuestion(q.idQuestion)">Supprimer</button>
            </b>
            <br> Explications: {{q.explication}} 
            <br>
            <br>
            
            <div *ngFor="let c of choix">
                <li *ngIf="c.question.idQuestion == q.idQuestion"> {{c.libChoix}} {{c.reponse}} <button class="class1"
                        (click)="supprimerChoix(c.idChoix)">Supprimer</button>
                </li>
            </div>
            <br>
            <form (ngSubmit)="AjouterChoix(q)">
                R&eacute;ponse propos&eacute;e <input type="text" name="libChoix" placeholder="libChoix"
                    [(ngModel)]="selectedChoix.libChoix">
                Vrai-Faux <input type="number" min="0" max="1" name="reponse" placeholder="reponse"
                    [(ngModel)]="selectedChoix.reponse">
                <button class="class1" type="submit">Ajouter R&eacute;ponse</button>

            </form>
            <br>
            <hr>
            <br>
        </ul>


        <form (ngSubmit)="AjouterQuestion()">


            Question <input type="text" name="libQuestion" placeholder="libQuestion" [(ngModel)]="question.libQuestion">
            Explication <input type="text" name="explication" placeholder="explication"
                [(ngModel)]="question.explication">
            <button class="class1" type="submit">Ajouter Question</button>

        </form>


    </div>
</body>

</html>