<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <app-header-formateur></app-header-formateur>
    <div class="main">
        <form (ngSubmit)="AjouterQuestion()">


    libQuestion <input type="text" name="libQuestion" placeholder="libQuestion" [(ngModel)]="question.libQuestion">
    explication <input type="text" name="explication" placeholder="explication" [(ngModel)]="question.explication">
    <button class="class1" type="submit">Ajouter</button>

</form>
</div>
</body>

</html>