<head>
    <meta charset="utf-8">
    <title>Grid Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-10">
                <h1>Votre compte chez eFormation</h1>
            </div>
            <div class="col-12 col-lg-2">
                <p class="class5">Mon espace personnel
                    <button class="class4" (click)="EspacePerso()" width="5" height="5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    </button>
                </p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</header>





<div *ngIf="roleC==1">
    En tant que <span class="el">commercial</span>
    <app-page-commerciale></app-page-commerciale>
</div>
<br>
<div *ngIf="roleA==1">
    <p>
        En tant que <span class="el">assistant</span>
    </p>
    <app-page-assistant></app-page-assistant>

</div>
<br>
<div *ngIf="roleF==1">
    <p>
        En tant que <span class="el">formateur</span>, vous pouvez consultez a tout moment vos formations en cours,
        a venir ou encore finies.
        <br>Vous pouvez egalement consulter la liste des participants
        de vos formations ainsi qu'acceder a votre espace personnel.
    </p>
    <app-page-formateur></app-page-formateur>
</div>
<br>
<div *ngIf="roleAdmin==1">
    En tant que <span class="el">administrateur</span>
</div>

<br>
<div *ngIf="roleP==1">
    <p>
        En tant que <span class="el">participant</span>, vous pouvez consultez a
        tout moment vos formations en cours,
        <br>
        a venir ou encore finies avec le formateur assurant la formation.
        Vous pouvez egalement
        <br>consulter la liste des formations gratuites
        proposees par eFormation. Votre espace <br>personnel avec vos informations
        de connexion sont aussi disponibles sur la page.
    </p>
    <app-page-participant></app-page-participant>
</div>

<app-footer></app-footer>